extends ../templates/content.jade
block content
  h1(class="text-yasar text-2xl my-3 font-bold") Ödev #1
  div(class='flex flex-col lg:flex-row')
    div(class='flex-1')
      h2(class="text-yasar text-xl my-3 font-bold") Ödev Açıklama
      ul Geçen hafta ve bu hafta tanıtılan etiketleri kullanarak kendinizi tanıtan bir web sayfası hazırlayınız:
      li Sayfanızda başlık haricinde en az üç (3) değişik yazı tipi, boyutu ve rengi kullanınız. 
      li Sayfanızın arka planına resminizi ekleyiniz. 
      li Sayfanıza © vb. en az üç (3) değişik özel karakter ekleyiniz.
      li Önemli gördüğünüz metin kısımlarını vurgulamak için etiketler kullanınız.
      li Sayfanızda örneklerde gördüğünüz gibi maddelendirmeler yapınız.
      li Boşluk oluşturmak için tanıdığınız tüm etiketleri kullanınız.
    div(class="flex-1")
      p(class="text-xs italic text-red-900") italik kucuk kirmizi
      p(class="text-xl semibold text-blue-900") bold orta mavi
      p(class="text-2xl text-black-900") buyuk siyah
      img(class="w-1/2 h-auto" src="https://images.unsplash.com/photo-1603001463973-3e8ce35fddca")
      p(class='text-2xl') ♠ ♣ ♥ ♦
      p(class="font-bold") Bold Text
