extends templates/content.jade
block content
  div(class='flex flex-col lg:flex-row')
    
    div(class='flex-1 flex flex-col')
      h1(class="w-full text-yasar text-2xl my-3 font-bold") Dersler
      div(class='flex flex-col lg:flex-row')
        a(href="/MBBP1115-2021G-1" class="bg-yasar hover:bg-white hover:text-yasar shadow-lg cursor-pointer select-none font-semibold px-5 py-3 transition duration-200 rounded-lg text-white text-bold")
          p MBBP1115-2021G-1
        
        
    div(class='flex-1 flex flex-col')
      h1(class="w-full text-yasar text-2xl my-3 font-bold") Hakkımda
      include templates/me.jade
        
