a(href="/")
  div(class="w-full bg-yasar flex flex-col text-center lg:text-left justify-around lg:flex-row p-5")
    div.flex.flex-col
      p.text-white.font-semibold Yaşar Üniversitesi
      p.text-white.font-semibold Yunus Emre Köker
    p.text-white.font-light Güncellenme Tarihi: 
      i 19 Ekim
