extends ../templates/content.jade
block content
  h1(class="text-yasar text-2xl my-3 font-bold") Ödevler
  div(class='flex flex-col lg:flex-row')
    a(href="/MBBP1115-2021G-1/odev-1" class="bg-yasar hover:bg-white hover:text-yasar shadow-lg cursor-pointer select-none font-semibold p-5 transition duration-200 rounded-lg text-white text-bold")
      p Ödev #1 
        i.text-sm 19.Eki.2020 12:00	
