div(class='flex-1 flex flex-col underline')
  li.no-underline
    b Ad: 
    i Yunus Emre Koker
  li
    a(href="https://github.com/YEK-PLUS")
      b Github: 
      i YEK-PLUS
  li
    a(href="https://gitlab.com/YEK-PLUS")
      b Gitlab: 
      i YEK-PLUS
  li
    a(href="https://t.me/yek_plus")
      b Telegram: 
      i yek_plus
  li
    a(href="https://lichess.org/@/YEK-PLUS")
      b Lichess: 
      i YEK-PLUS
  li
    a(href="https://www.linkedin.com/in/yunus-emre-k%C3%B6ker-935019190/")
      b LinkedIn
  li
    a(href="https://open.spotify.com/user/0i8rwn8nsyz2ss6o8uk91undh")
      b Spotify
  li
    a(href="https://steamcommunity.com/profiles/76561199095120637/")
      b Steam
  li
    b Discord: 
    i yek#3063
    
